<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Coursera Automation Suite" parallel="false">

    <test name="Coursera Sequential Tests"
          preserve-order="true"
          parallel="false">

        <classes>
            <class name="com.coursera.automation.tests.WebDevelopmentCoursesTest"/>
            <class name="com.coursera.automation.tests.LanguageLearningTest"/>
            <class name="com.coursera.automation.tests.EnterpriseFormTest"/>
        </classes>

    </test>
</suite>